.wrapper{
  margin: 0 auto;
  width: 1200px;
}

body {
  background-color: #f3f5f7;
}

.header {
  height: 100px;
  background-color: #ffffff;
}

.header .wrapper {
  display: flex;
  padding-top: 29px;

}

.logo a{
  display: block;
  width: 195px;
  height: 41px;
  background-image: url(../img/logo.png);
  font-size: 0;
}

.nav{
  margin-left: 102px;
}

.nav ul {
  display: flex;
}

.nav li {
  margin-right: 24px;
}

.nav li a {
  display: block;
  padding: 6px 8px;
  line-height: 27px;
  font-size: 19px;
}

.nav li .active,
.nav li a:hover {
  border-bottom: 3px solid #00a4ff;
}

.search {
  display: flex;
  margin-left:32px;
  background-color: #f3f5f7;
  padding-left: 19px;
  padding-right: 12px;
  border-radius: 20px;
  width: 412px;
  height: 40px;
}

.search input {
  flex:1;
  background-color: #f3f5f7;
  border-style: none;
  font-size:14px;
  outline: none;
}

.search a {
  width: 16px;
  height: 16px;
  font-size: 0;
  background-image: url(../img/search.png);
  align-self: center;
}

.user {
  display: flex;
  margin-left: 32px;
  margin-top: 5px;
}

.user img {
  margin-right: 5px;
  vertical-align: middle;
}

.user span {
  font-size: 14px;
  color: #666666;
}

.banner {
  background-color: #0092cb;
  height: 420px;
}

.banner .wrapper {
  display: flex;
  height: 420px;
  background-image: url(../uploads/banner.png);
  justify-content: space-between;
}

.banner .left {
  width: 191px;
  height: 420px;
  background-color: rgba(0,0,0,0.42);
  padding: 3px 20px;
}

.banner .left a {
  display: block;
  height: 46px;
  line-height: 46px;
  
  font-size: 16px;
  color: #fff;
  background: url(../img/right.png) no-repeat right center;
}

.banner .left a:hover {
  background: url(../img/right-hover.png) no-repeat right center;
  color: #00a4ff;
}

.banner .right {
  width: 218px;
  height: 305px;
  background-color: #209dd5;
  margin-top: 60px;
  border-radius: 10px;
}

.banner .right h3 {
  margin-left: 15px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.banner .right .content{
	width: 218px;
	height: 257px;
	background-color: #ffffff;
	border-radius: 10px;
  padding: 14px;
}

.banner .right .content dl {
  margin-bottom: 12px;
  border-bottom: 1px solid #666666;
}

.banner .right .content dt {
  height: 20px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.banner .right .content dd {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 16px;
}
.banner .right .content dd span {
  color: #00a4ff;
}

.banner .right .content dd strong {
  font-size: 400;
  color: #7d7d7d;
}

.banner .right .content a {
  display: block;
	width: 190px;
	height: 32px;
	background-color: #00a4ff;
	border-radius: 15px;
  padding: 6px 67px;

  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.recommend {
  display: flex;
  width: 1200px;
  height: 60px;
  background-color: #ffffff;
  margin: 12px auto;
  padding: 0 20px;
  margin-bottom: 0;
  box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
  line-height: 60px;
}

.recommend h3 {
  font-size: 18px;
  color: #00a4ff;
  font-weight: 400;
}

.recommend ul {
  flex: 1;
  display: flex;
}

.recommend ul li a{
  padding: 0 24px;
  border-right: 1px #e0e0e0 solid ;
  font-size: 18px;
}

.recommend ul li:last-child a {
  border-right: 0;
}

.recommend .modify {
  font-size: 16px;
  color: #00a4ff;
}

.hd {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 30px;
  margin: 0 auto;
  margin-top: 30px;
  line-height: 30px;
}

.hd h3 {
  font-size: 18px;
}

.hd .more{
  padding-right: 20px;
  background: url(../img/more.png) no-repeat right;
  font-size: 14px;
  color: #999;
}

.bd {
  width: 1200px;
  margin: 15px auto;
  display: flex;
  
}

.bd ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bd ul li {
  width: 228px;
  height: 270px;
  background-color: #fff;
  margin-bottom: 14px;
  border-radius: 3px;
}

.bd li img {
  height: 156px;
}

.bd li .text {
  padding: 20px;
  height: 115px;
}

.bd li .text h4{
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  line-height: 20px;
}

.bd li .text p {
  line-height: 20px;
  font-size: 14px;
  color: #999;
}
.bd li .text p span {
  color: #fa6400;
}

.bd li .text p i {
  font-style: normal;
}

.hd ul {
  display: flex;
  padding: 2px;
}

.hd ul li {
  margin: 0 30px;
  line-height: 32px;
  font-size: 16px;
}

.hd ul li .active {
  color: #209dd5;
}

.bd .right {
  width: 957px;
  height: 386px;
  margin-left: 15px;
}

.bd .right .img{
  margin-bottom: 15px;
  height: 100px;
}

.footer {
  margin-top: 60px;
  padding-top: 60px;
  height: 273px;
  background-color: #fff;
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer .left p{
  margin-top: 24px;
  font-size: 12px;
  color: #999;
}

.footer .left .download {
  display: block;
  width: 120px;
  height: 36px;
  margin-top: 12px;
  border: 1px #209dd5 solid;
  text-align: center;
  line-height: 34px;
  font-size: 16px;
  color: #00a4ff;
}

.footer .right {
  display: flex;
  flex-wrap: wrap;
}

.footer .right dl {
  margin-left: 130px;
}

.footer .right dt {
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer .right dd {
  margin-bottom: 5px;
}

.footer .right dd a{
  
  font-size: 14px;
  color: #999;
}